@import url(//fonts.googleapis.com/css2?family=Google+Sans);
@import url(//fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

:root {
  font-family: "Google Sans", "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.25;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --dora-blue: #005d8d;
  --dora-dark-blue: #003a59;

  background-color: var(--dora-blue);
  color:white;
}

.material-symbols-outlined {
    cursor: pointer;
    opacity: 0.5;
    font-size: 2em;
    transition: opacity 0.1s;
    user-select: none;
}

.material-symbols-outlined:hover {
    opacity: 0.85;
}

a.material-symbols-outlined {
    color:white;
    text-decoration: none;
}