@import url(//fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(dora-2024.css);

:root {
  line-height: 1.25;
  font-weight: 400;
  box-sizing: border-box;

  color:var(--dora-primary-light);
}

.material-symbols-outlined {
    cursor: pointer;
    opacity: 0.6;
    font-size: 2em;
    transition: opacity 0.1s;
    user-select: none;
}

.material-symbols-outlined:hover {
    opacity: 0.85;
}